FP 949110 - cookie with (*.)/(.*) in value

### Description

i add cookie with value `(asd)/(asd)` , and get block from modSecurity
(you can add any text in bracket)

### Audit Logs / Triggered Rule Numbers

```
2020/12/09 12:47:45 [error] 5866#5866: *2716173 [client x.x.x.x] ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Ge' with parameter `5' against variable `TX:ANOMALY_SCORE' (Value: `5' ) [file "/etc/nginx/owasp-modsecurity-crs/rules/REQUEST-949-BLOCKING-EVALUATION.conf"] [line "80"] [id "949110"] [rev ""] [msg "Inbound Anomaly Score Exceeded (Total Score: 5)"] [data ""] [severity "2"] [ver "OWASP_CRS/3.3.0"] [maturity "0"] [accuracy "0"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-generic"] [hostname "x.x.x.x"] [uri "/"] [unique_id "160751806528.147812"] [ref ""], client: x.x.x.x, server: dev.app.comp.ru, request: "GET / HTTP/2.0", host: "dev.app.comp.ru"
```

### Your Environment



* CRS version (e.g., v3.2.0): v3.3.0
* Paranoia level setting: 1
* ModSecurity version (e.g., 2.9.3): v3.0.4
* Web Server and version (e.g., apache 2.4.41): k8s.gcr.io/ingress-nginx/controller:v0.41.2


### Confirmation

[x] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.


Confirmed. This here triggers 933210:

```
$ curl http://localhost -H "Cookie: x=(foo)/(bar)"
```

> Confirmed. This here triggers 933210:

942421 also [triggered](https://regex101.com/r/M0Ghtk/1) (additionally info for exclusion rule).

Yes, but that's paranoia level 4 and thus not default install.

+1

933210 Matched Data: (direct) / (none) found within REQUEST_COOKIES:_first_source: (direct) / (none)

```
"response":{"body":"<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403 Forbidden</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n<!-- a padding to disable MSIE and Chrome friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome
friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome friendly error page -->\r\n<!-- a padding to disable MSIE and Chrome friendly error page -->\r\n","http_code":403,"headers":{"Server":"","Server":"","Date":"Wed, 09 Dec 2020 10:38:40 GMT","Content-Length":"548","Content-Type":"text/html","Access-Control-Allow-Origin":"*","Connection":"close","Access-Control-Allow-Credentials":"true","Strict-Transport-Security":"max-age=15724800; includeSubDomains"}},"producer":{"modsecurity":"ModSecurity v3.0.4 (Linux)","connector":"ModSecurity-nginx v1.0.1","secrules_engine":"Enabled","components":["OWASP_CRS/3.3.0\""]},"messages":[{"message":"PHP Injection Attack: Variable Function Call Found","details":{"match":"Matched \"Operator `Rx' with parameter `(?:(?:\\(|\\[)[a-zA-Z0-9_.$\\\"'\\[\\](){}/*\\s]+(?:\\)|\\])[0-9_.$\\\"'\\[\\](){}/*\\s]*\\([a-zA-Z0-9_.$\\\"'\\[\\](){}/*\\s].*\\)|\\([\\s]*string[\\s]*\\)[\\s]*(?:\\\"|'))' against variable `REQUEST_COOKIES:_first_source' (Value: `(direct) / (none)' )","reference":"o0,17v587,17t:urlDecode,t:replaceComments,t:compressWhitespace","ruleId":"933210","file":"/etc/nginx/owasp-modsecurity-crs/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf","lineNumber":"483","data":"Matched Data: (direct) / (none) found within REQUEST_COOKIES:_first_source: (direct) / (none)","severity":"2","ver":"OWASP_CRS/3.3.0","rev":"","tags":["application-multi","language-php","platform-multi","attack-injection-php","paranoia-level/1","OWASP_CRS","capec/1000/152/242"],"maturity":"0","accuracy":"0"}},{"message":"Inbound Anomaly Score Exceeded (Total Score: 5)","details":{"match":"Matched \"Operator `Ge' with parameter `5' against variable `TX:ANOMALY_SCORE' (Value: `5' )","reference":"","ruleId":"949110","file":"/etc/nginx/owasp-modsecurity-crs/rules/REQUEST-949-BLOCKING-EVALUATION.conf","lineNumber":"80","data":"","severity":"2","ver":"OWASP_CRS/3.3.0","rev":"","tags":["application-multi","language-multi","platform-multi","attack-generic"],"maturity":"0","accuracy":"0"}}]}}
```

Just to add: according to RFC 6265, section 4.1.1, cookie values are allowed to contain slash character (which doesn't mean it shouldn't be blocked, just telling that user is using correct syntax):
https://tools.ietf.org/html/rfc6265#section-4.1.1

Oh, it's a very valid cookie. It just happens to look like a PHP code injection from afar. :(

> Yes, but that's paranoia level 4 and thus not default install.

Ah, I see - thanks.

This `@rx` argument should fix this false positive match in case of [933210](https://github.com/coreruleset/coreruleset/blob/cb6ecc4ee1ba030cee88132bbb777746dbffb4d6/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf#L483-L502):

```
(?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}/*\s]+(?:\)|\])[0-9_.$\"'\[\](){}*\s]*\([a-zA-Z0-9_.$\"'\[\](){}/*\s].*\)|\([\s]*string[\s]*\)[\s]*(?:\"|'))
```

[Here](https://regex101.com/r/sppm4E/1) I've collected the test cases - all of them are works, plus the given example (`(asd)/(asd)`).

Note, the diff is this:
```diff
-SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "@rx (?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}/*\s]+(?:\)|\])[0-9_.$\"'\[\](){}/*\s]*\([a-zA-Z0-9_.$\"'\[\](){}/*\s].*\)|\([\s]*string[\s]*\)[\s]*(?:\"|'))" \
+SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "@rx (?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}/*\s]+(?:\)|\])[0-9_.$\"'\[\](){}*\s]*\([a-zA-Z0-9_.$\"'\[\](){}/*\s].*\)|\([\s]*string[\s]*\)[\s]*(?:\"|'))" \
```

But perhaps this one should be better - all slashes had removed:

```
(?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}*\s]+(?:\)|\])[0-9_.$\"'\[\](){}*\s]*\([a-zA-Z0-9_.$\"'\[\](){}*\s].*\)|\([\s]*string[\s]*\)[\s]*(?:\"|'))
```

[This one](https://regex101.com/r/CR8G7J/1) prevents the FP's in case of all occurrence of slash (see the second subject).
```diff
-SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "@rx (?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}/*\s]+(?:\)|\])[0-9_.$\"'\[\](){}/*\s]*\([a-zA-Z0-9_.$\"'\[\](){}/*\s].*\)|\([\s]*string[\s]*\)[\s]*(?:\"|'))" \
+SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "@rx (?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}*\s]+(?:\)|\])[0-9_.$\"'\[\](){}*\s]*\([a-zA-Z0-9_.$\"'\[\](){}*\s].*\)|\([\s]*string[\s]*\)[\s]*(?:\"|'))" \
```

Thoughts?